- name: query-go-GOLANG_VERSION
  decorate: true
  interval: 12h
  annotations:
    description: Querys go version in ECR and compare it with versuib in repository. Raises a PR with updated GO_VERSION and bumped prow image versions
    karpenter.sh/do-not-evict: "true"
  labels:
    preset-github-secrets: "true"
  extra_refs:
  - org: aws-controllers-k8s
    repo: test-infra
    base_ref: main
    workdir: true
  agent: kubernetes
  spec:
    serviceAccountName: periodic-service-account
    containers:
      - image: {{ image_context.images["query-go-version"] }}
        resources:
          limits:
            cpu: 1
            memory: "500Mi"
          requests:
            cpu: 1
            memory: "500Mi"
        command:
          - /main